# 4.8 follow-along exercise

# 01. Importing Libraries

In [2]:
# Importlibraries
import pandas as pd
import numpy as np
import os

# 02. Import data

In [3]:
# import orders_products_merged_new fro 4.7 for this follow-along
df_ords_prods_merge = pd.read_pickle(r'/Users/bdigregorio/Desktop/CareerFoundry/' \
r'Data Immersion/Data Immersion 4/DI 4.2/Instacart Basket Analysis' \
r'/02 Data/Prepared Data/orders_products_merged_new.pkl')

In [4]:
path = r'/Users/bdigregorio/Desktop/CareerFoundry/' \
r'Data Immersion/Data Immersion 4/DI 4.2/Instacart Basket Analysis'

In [5]:
path

'/Users/bdigregorio/Desktop/CareerFoundry/Data Immersion/Data Immersion 4/DI 4.2/Instacart Basket Analysis'

In [6]:
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_new.pkl'))

In [7]:
# Creat a subset or df_ords_prods_merge
df = ords_prods_merge[:1000000]

In [8]:
df.shape

(1000000, 20)

In [9]:
df.head()

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0,product_name,aisle_id,department_id,prices,merge_flag,price_range_loc,busiest_day,busiest_days,Most orders
0,2539329.0,1.0,1.0,2.0,8.0,NaN,196.0,1.0,0.0,both,195.0,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Fewest orders
1,2398795.0,1.0,2.0,3.0,7.0,15.0,196.0,1.0,1.0,both,195.0,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Fewest orders
2,473747.0,1.0,3.0,3.0,12.0,21.0,196.0,1.0,1.0,both,195.0,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders
3,2254736.0,1.0,4.0,4.0,7.0,29.0,196.0,1.0,1.0,both,195.0,Soda,77.0,7.0,9.0,both,Mid-range product,Least busy,Regularly busy,Fewest orders
4,431534.0,1.0,5.0,4.0,15.0,28.0,196.0,1.0,1.0,both,195.0,Soda,77.0,7.0,9.0,both,Mid-range product,Least busy,Regularly busy,Most orders

In [10]:
df.drop(columns = ["Unnamed: 0"])

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,merge_flag,price_range_loc,busiest_day,busiest_days,Most orders
0,2539329.0,1.0,1.0,2.0,8.0,NaN,196.0,1.0,0.0,both,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Fewest orders
1,2398795.0,1.0,2.0,3.0,7.0,15.0,196.0,1.0,1.0,both,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Fewest orders
2,473747.0,1.0,3.0,3.0,12.0,21.0,196.0,1.0,1.0,both,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders
3,2254736.0,1.0,4.0,4.0,7.0,29.0,196.0,1.0,1.0,both,Soda,77.0,7.0,9.0,both,Mid-range product,Least busy,Regularly busy,Fewest orders
4,431534.0,1.0,5.0,4.0,15.0,28.0,196.0,1.0,1.0,both,Soda,77.0,7.0,9.0,both,Mid-range product,Least busy,Regularly busy,Most orders
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,690549.0,117287.0,14.0,0.0,20.0,14.0,47766.0,26.0,1.0,both,Organic Avocado,24.0,4.0,6.3,both,Mid-range product,Busiest day,Busiest days,Fewest orders
999996,3327007.0,117287.0,15.0,5.0,16.0,12.0,47766.0,1.0,1.0,both,Organic Avocado,24.0,4.0,6.3,both,Mid-range product,Regularly busy,Regularly busy,Fewest orders
999997,1524192.0,117287.0,16.0,1.0,14.0,10.0,47766.0,4.0,1.0,both,Organic Avocado,24.0,4.0,6.3,both,Mid-range product,Regularly busy,Regularly busy,Most orders
999998,1312255.0,117287.0,17.0,1.0,15.0,7.0,47766.0,3.0,1.0,both,Organic Avocado,24.0,4.0,6.3,both,Mid-range product,Regularly busy,Regularly busy,Most orders
999999,2704101.0,117287.0,18.0,1.0,15.0,14.0,47766.0,2.0,1.0,both,Organic Avocado,24.0,4.0,6.3,both,Mid-range product,Regularly busy,Regularly busy,Most orders

In [11]:
df.head()

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0,product_name,aisle_id,department_id,prices,merge_flag,price_range_loc,busiest_day,busiest_days,Most orders
0,2539329.0,1.0,1.0,2.0,8.0,NaN,196.0,1.0,0.0,both,195.0,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Fewest orders
1,2398795.0,1.0,2.0,3.0,7.0,15.0,196.0,1.0,1.0,both,195.0,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Fewest orders
2,473747.0,1.0,3.0,3.0,12.0,21.0,196.0,1.0,1.0,both,195.0,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders
3,2254736.0,1.0,4.0,4.0,7.0,29.0,196.0,1.0,1.0,both,195.0,Soda,77.0,7.0,9.0,both,Mid-range product,Least busy,Regularly busy,Fewest orders
4,431534.0,1.0,5.0,4.0,15.0,28.0,196.0,1.0,1.0,both,195.0,Soda,77.0,7.0,9.0,both,Mid-range product,Least busy,Regularly busy,Most orders

In [12]:
df.groupby('product_name')

In [13]:
# 3 different ways to aggregate
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
4.0              19.315612
7.0              17.466053
13.0             17.753001
14.0             19.246334
16.0             19.463012
17.0             11.294069
19.0             21.234049

In [14]:
df.groupby('department_id')['order_number'].mean()

department_id
4.0     19.315612
7.0     17.466053
13.0    17.753001
14.0    19.246334
16.0    19.463012
17.0    11.294069
19.0    21.234049
Name: order_number, dtype: float64

In [15]:
df.groupby('department_id').order_number.mean()

department_id
4.0     19.315612
7.0     17.466053
13.0    17.753001
14.0    19.246334
16.0    19.463012
17.0    11.294069
19.0    21.234049
Name: order_number, dtype: float64

In [16]:
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean  min   max
department_id
4.0              19.315612  1.0  99.0
7.0              17.466053  1.0  99.0
13.0             17.753001  1.0  99.0
14.0             19.246334  1.0  99.0
16.0             19.463012  1.0  99.0
17.0             11.294069  1.0  98.0
19.0             21.234049  1.0  99.0

In [17]:
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [18]:
ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,product_name,aisle_id,department_id,prices,merge_flag,price_range_loc,busiest_day,busiest_days,Most orders,max_order
0,2539329.0,1.0,1.0,2.0,8.0,NaN,196.0,1.0,0.0,both,...,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Fewest orders,11.0
1,2398795.0,1.0,2.0,3.0,7.0,15.0,196.0,1.0,1.0,both,...,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Fewest orders,11.0
2,473747.0,1.0,3.0,3.0,12.0,21.0,196.0,1.0,1.0,both,...,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,11.0
3,2254736.0,1.0,4.0,4.0,7.0,29.0,196.0,1.0,1.0,both,...,Soda,77.0,7.0,9.0,both,Mid-range product,Least busy,Regularly busy,Fewest orders,11.0
4,431534.0,1.0,5.0,4.0,15.0,28.0,196.0,1.0,1.0,both,...,Soda,77.0,7.0,9.0,both,Mid-range product,Least busy,Regularly busy,Most orders,11.0
5,3367565.0,1.0,6.0,2.0,7.0,19.0,196.0,1.0,1.0,both,...,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Fewest orders,11.0
6,550135.0,1.0,7.0,1.0,9.0,20.0,196.0,1.0,1.0,both,...,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Fewest orders,11.0
7,3108588.0,1.0,8.0,1.0,14.0,14.0,196.0,2.0,1.0,both,...,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,11.0
8,2295261.0,1.0,9.0,1.0,16.0,0.0,196.0,4.0,1.0,both,...,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Fewest orders,11.0
9,2550362.0,1.0,10.0,4.0,8.0,30.0,196.0,1.0,1.0,both,...,Soda,77.0,7.0,9.0,both,Mid-range product,Least busy,Regularly busy,Fewest orders,11.0
10,2968173.0,15.0,15.0,1.0,9.0,7.0,196.0,2.0,0.0,both,...,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Fewest orders,23.0
11,1870022.0,15.0,17.0,2.0,16.0,8.0,196.0,6.0,1.0,both,...,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Fewest orders,23.0
12,1911383.0,15.0,18.0,2.0,11.0,7.0,196.0,1.0,1.0,both,...,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,23.0
13,2715276.0,15.0,21.0,1.0,9.0,7.0,196.0,1.0,1.0,both,...,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Fewest orders,23.0
14,487368.0,15.0,22.0,1.0,10.0,14.0,196.0,1.0,1.0,both,...,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,23.0

In [19]:
ords_prods_merge[['order_id', 'user_id', 'order_number', 'max_order']].head(25)

     order_id  user_id  order_number  max_order
0   2539329.0      1.0           1.0       11.0
1   2398795.0      1.0           2.0       11.0
2    473747.0      1.0           3.0       11.0
3   2254736.0      1.0           4.0       11.0
4    431534.0      1.0           5.0       11.0
5   3367565.0      1.0           6.0       11.0
6    550135.0      1.0           7.0       11.0
7   3108588.0      1.0           8.0       11.0
8   2295261.0      1.0           9.0       11.0
9   2550362.0      1.0          10.0       11.0
10  2968173.0     15.0          15.0       23.0
11  1870022.0     15.0          17.0       23.0
12  1911383.0     15.0          18.0       23.0
13  2715276.0     15.0          21.0       23.0
14   487368.0     15.0          22.0       23.0
15  2293453.0     19.0           2.0       10.0
16  1973799.0     19.0           5.0       10.0
17   532817.0     19.0           7.0       10.0
18  1573906.0     21.0          10.0       34.0
19  1593000.0     31.0          10.0       21.0
20  2231262.0     31.0          17.0       21.0
21  2580647.0     43.0           6.0       12.0
22  2187180.0     43.0           9.0       12.0
23  2497897.0     52.0           1.0       28.0
24  1318871.0     52.0           2.0       28.0

In [20]:
ords_prods_merge.head(100)

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,product_name,aisle_id,department_id,prices,merge_flag,price_range_loc,busiest_day,busiest_days,Most orders,max_order
0,2539329.0,1.0,1.0,2.0,8.0,NaN,196.0,1.0,0.0,both,...,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Fewest orders,11.0
1,2398795.0,1.0,2.0,3.0,7.0,15.0,196.0,1.0,1.0,both,...,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Fewest orders,11.0
2,473747.0,1.0,3.0,3.0,12.0,21.0,196.0,1.0,1.0,both,...,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,11.0
3,2254736.0,1.0,4.0,4.0,7.0,29.0,196.0,1.0,1.0,both,...,Soda,77.0,7.0,9.0,both,Mid-range product,Least busy,Regularly busy,Fewest orders,11.0
4,431534.0,1.0,5.0,4.0,15.0,28.0,196.0,1.0,1.0,both,...,Soda,77.0,7.0,9.0,both,Mid-range product,Least busy,Regularly busy,Most orders,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,3226575.0,360.0,1.0,5.0,12.0,NaN,196.0,1.0,0.0,both,...,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,4.0
96,1469869.0,377.0,3.0,5.0,17.0,3.0,196.0,9.0,0.0,both,...,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Fewest orders,4.0
97,1927023.0,387.0,2.0,4.0,10.0,22.0,196.0,3.0,0.0,both,...,Soda,77.0,7.0,9.0,both,Mid-range product,Least busy,Regularly busy,Most orders,9.0
98,858092.0,420.0,4.0,1.0,19.0,30.0,196.0,2.0,0.0,both,...,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Fewest orders,23.0
99,119314.0,420.0,5.0,3.0,19.0,16.0,196.0,2.0,1.0,both,...,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Fewest orders,23.0

In [21]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [22]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [23]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [24]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    16382119
Loyal customer      10679887
New customer         5580444
NaN                       11
Name: loyalty_flag, dtype: int64

In [25]:
ords_prods_merge['loyalty_flag']

0           Regular customer
1           Regular customer
2           Regular customer
3           Regular customer
4           Regular customer
                  ...
32642456                 NaN
32642457                 NaN
32642458                 NaN
32642459                 NaN
32642460                 NaN
Name: loyalty_flag, Length: 32642461, dtype: object

In [26]:
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0       1.0  Regular customer           1.0
1       1.0  Regular customer           2.0
2       1.0  Regular customer           3.0
3       1.0  Regular customer           4.0
4       1.0  Regular customer           5.0
5       1.0  Regular customer           6.0
6       1.0  Regular customer           7.0
7       1.0  Regular customer           8.0
8       1.0  Regular customer           9.0
9       1.0  Regular customer          10.0
10     15.0  Regular customer          15.0
11     15.0  Regular customer          17.0
12     15.0  Regular customer          18.0
13     15.0  Regular customer          21.0
14     15.0  Regular customer          22.0
15     19.0      New customer           2.0
16     19.0      New customer           5.0
17     19.0      New customer           7.0
18     21.0  Regular customer          10.0
19     31.0  Regular customer          10.0
20     31.0  Regular customer          17.0
21     43.0  Regular customer           6.0
22     43.0  Regular customer           9.0
23     52.0  Regular customer           1.0
24     52.0  Regular customer           2.0
25     52.0  Regular customer           3.0
26     52.0  Regular customer           5.0
27     52.0  Regular customer           7.0
28     52.0  Regular customer           9.0
29     52.0  Regular customer          10.0
30     52.0  Regular customer          11.0
31     52.0  Regular customer          12.0
32     52.0  Regular customer          15.0
33     52.0  Regular customer          17.0
34     52.0  Regular customer          18.0
35     52.0  Regular customer          19.0
36     52.0  Regular customer          21.0
37     67.0  Regular customer           1.0
38     67.0  Regular customer           2.0
39     67.0  Regular customer           3.0
40     67.0  Regular customer           4.0
41     67.0  Regular customer           5.0
42     67.0  Regular customer           6.0
43     67.0  Regular customer           8.0
44     67.0  Regular customer           9.0
45     67.0  Regular customer          10.0
46     67.0  Regular customer          11.0
47     67.0  Regular customer          12.0
48     67.0  Regular customer          13.0
49     67.0  Regular customer          14.0
50     67.0  Regular customer          16.0
51     67.0  Regular customer          18.0
52     67.0  Regular customer          19.0
53     67.0  Regular customer          21.0
54     67.0  Regular customer          22.0
55     67.0  Regular customer          23.0
56     81.0      New customer           3.0
57     81.0      New customer           5.0
58     82.0  Regular customer           1.0
59     82.0  Regular customer           3.0

In [27]:
ords_prods_merge['prices'].describe()

count    3.243422e+07
mean     1.198114e+01
std      4.954310e+02
min      1.000000e+00
25%      4.200000e+00
50%      7.400000e+00
75%      1.130000e+01
max      9.999900e+04
Name: prices, dtype: float64